


/* From: /opt/eprints3/lib/static/style/auto/accessibility.css */

table.ep_accessibility_results {
	border: 1px solid #000;
	width: 100%;
	border-collapse: collapse;
}

table.ep_accessibility_results > tbody > tr > td, table.ep_accessibility_results th {
	border: 1px solid #000;
	padding: 0.4em;
	text-align: center;
}
	
table.ep_accessibility_results > tbody > tr > td:last-child {
        text-align: left;
}

.ep_accessibility_bad {
	color: #8b0000;
}

.ep_accessibility_good {
        color: #006400;
}




/* From: /opt/eprints3/lib/static/style/auto/actions.css */

.ep_login_tools img {
	vertical-align: middle;
	margin: 0px 25px;
}

ul.ep_action_list {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	display: inline-block;
}

ul.ep_action_list li {
	display: inline-block;
	margin-left: .5em;
}

ul.ep_action_list li:first-child {
	margin-left: 0;
}

dl.ep_action_list {
	margin: 0;
	padding: 0;
}

dl.ep_action_list dt, dl.ep_action_list dd {
	margin: 0;
}

dl.ep_action_list dt {
	margin-top: .5em;
	width: 15em;
	text-align: center;
	line-height: 2em;
	margin-bottom: -1.5em;
}
dl.ep_action_list dt:first-child {
	margin-top: 0;
}

dl.ep_action_list dd {
	position: relative;
	left: 16em;
	top: -.5em;
	margin-right: 16em;
	overflow: hidden;
}

div.ep_action_list .ep_action_row{
        margin-bottom: 10px;
}

div.ep_action_list .ep_action_row div:first-child{
        width: 30%;
        min-width: 200px;
        vertical-align: top;
}

div.ep_action_list .ep_action_row div:last-child{
        width: 70%;
}

div.ep_action_list .ep_action_row div:first-child form{
        display: block;
        text-align: center;
}

div.ep_action_list .ep_action_row div:first-child form input{
        width: 200px;
}

div.ep_action_list .ep_action_row div{
        display: inline-block;
}




/* From: /opt/eprints3/lib/static/style/auto/batchedit.css */

#BatchEdit_changes input
{
  max-width: 150px;
}
#BatchEdit_changes textarea
{
  max-width: 200px;
}



/* From: /opt/eprints3/lib/static/style/auto/blister.css */


/* EPrints 3 blister bar style */

/* ep_blister */



.ep_blister_bar {
	margin: auto;
	display: table;
	border-spacing: 0;
        border-collapse: collapse;
        padding: 0;	
}
.ep_blister_bar > div {
        display: table-row;
}
.ep_blister_bar > div > div {
        display: table-cell;
}
.ep_blister_join {
	background-image: url(images/blister_arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 20px;
}
.ep_blister_node, .ep_blister_node_selected {
	text-align: center;
	border-style: solid;
	border-radius: 3px;
}
.ep_blister_node {
	border-width: 1px;
	padding: 3px 10px;
}
.ep_blister_node_selected {
	border-width: 2px;
	padding: 2px 10px;
}



/* From: /opt/eprints3/lib/static/style/auto/citations.css */

span.document_filename
{
	font-size: 90%;
        line-height: 20px;
}

span.document_format
{
}




/* From: /opt/eprints3/lib/static/style/auto/colors.css */

/*
 *
 * EPrints Default Colour Scheme
 *
 */

body {
	color: #000000;
	background-color: #ffffff;
}
a, .ep_tm_key_tools a:visited {
	color: #0645ad;
}
a:visited {
	color: #0b0080;
}
a:hover, .ep_tm_key_tools a:hover {
	color: #3366bb;
}
a:active, .ep_tm_key_tools a:active {
	color: red;
}
h1, h2, h3, h4 {
    color: #606060;
}
.ep_view_page h2 {
	border-bottom: solid 1px #606060;
}

/* template.css */

.ep_tm_header {
	background-color: #fff;
	background-image: url(images/logo_background_light.png);
	background-repeat: repeat-y;
}
.ep_tm_menu, .ep_tm_menu li:hover {
	background-image: url(images/bar_glass.png) ;
	background-position: 0px 5px;
}
.ep_tm_footer {
	border-color: #204f76;
}
.ep_tm_menu, .ep_tm_menu ul {
	background-color: #204f76;
}
.ep_tm_menu {
	/* fixed to 30px high */
	border-bottom: 1px solid #fff;
}
.ep_tm_menu li:hover {
	background-color: #279ae2;
}
.ep_tm_menu a, .ep_tm_menu a:visited {
	color: white;
}
.ep_tm_searchbar, .ep_columns_title, td.ep_columns_alter, .ep_toolbox_title {
	color: #606060;
}
.ep_tm_searchbar, .ep_columns_title, td.ep_columns_alter {
	background-color: #ccc;
	background-image: url(images/bar_24px.png);
	background-repeat: repeat-x;
}
.ep_tm_searchbarbox {
	border-color: #606060;
}
.ep_tm_key_tools li {
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #606060;
}
.ep_tm_key_tools li:first-child {
	border-left: none;
}
.ep_tm_key_tools li:last-child {
	border-right: none;
}

/* form.css */

.ep_form_action_button, .ep_form_internal_button, .ep_tm_searchbarbutton, .ep_blister_node_selected {
	border-color: #5b97c7 #13324a #13324a #5287b3;
	background-image: url(images/bar_12px.png);
	background-color: #1f4f76;
	color: white;
}
.ep_form_action_button:active, .ep_form_internal_button:active, .ep_tm_searchbarbutton:active, .ep_blister_node_selected:active {
	border-color: #13324a #5287b3 #5287b3 #13324a;
	background-color: #276496;
}

/* blister.css */

.ep_blister_node {
	border-color: #cccccc;
	background-color: #e8e8ff;
	background-image: url(images/bar_solid_12px.png);
	color: #000000;
}
.ep_blister_node:active {
	border-color: #276496;
}

/* summary.css surround.css */

.ep_summary_box_title, .ep_summary_box_body, .ep_sr_title_bar, .ep_sr_content, .ep_sr_collapse_bar
,.ep_tab_panel
,.ep_toolbox_content /* toolbox.css */
,.ep_upload_doc /* upload.css */
,.ep_search_buttons, .ep_search_controls, .ep_search_controls_bottom /* search.css */
,.ep_view_group_by /* view.css */
{
	background-color: #e8e8ff;
}
.ep_summary_box_title, .ep_sr_title_bar, .ep_sr_collapse_bar {
	background-image: url(images/bar_solid_12px.png);
	background-repeat: repeat-x;
}
.ep_sr_content, .ep_summary_box_body,
.ep_tab_panel,
.ep_toolbox_content /* toolbox.css */
,.ep_upload_doc /* upload.css */
{
	background-image: url(images/bar_solid_24px.png);
	background-repeat: repeat-x;
}
.ep_summary_box_title, .ep_summary_box_body, .ep_sr_title_bar, .ep_sr_content, .ep_sr_collapse_bar
,.ep_tab_panel, .ep_tab_bar li, .ep_tab_bar li a
,.ep_toolbox_content /* toolbox.css */
,.ep_upload_doc /* upload.css */
{
	border-color: #ccc;
}

/* tabs.css */

.ep_tab_bar li a {
	background-image: url(images/bar_solid_24px.png);
	background-repeat: repeat-x;
}

/* unselected tab */
.ep_tab_bar li a {
	background-color: #bbf;
}

/* selected tab */
.ep_tab_bar li.ep_tab_selected a {
	background-color: #fff;
}

/* general.css */

th.ep_title_row
{
	border-color: #808080;
	background-image: url(images/bar_24px.png);
	background-color: #ccc;
	color: #333;
}

th.ep_row, td.ep_row {
	border-color: #bbb;
}
th.ep_row, td.ep_row {
	border-bottom-style: dashed;
}
td.ep_row {
	border-left-style: dashed;
}

/* messages.css */

.ep_msg_message_content, .ep_msg_warning_content, .ep_msg_error_content, .ep_msg_other_content {
	background-image: url(images/bar_solid_48px.png);
	background-repeat: repeat-x;
}

.ep_msg_message_content {
	background-color: #80ff80;
	border-color: #80ff80;
}
.ep_msg_error_content {
	background-color: #ffc0c0;
	border-color: #ffc0c0;
}

.ep_msg_warning_content {
	background-color: #ffc080;
	border-color: #ffc080;
}

.ep_msg_other_content {
	background-color: #9999ff;
	border-color: #9999ff;
}

/* columns.css */

th.ep_columns_title, td.ep_columns_alter {
	border-color: #888;
}
td.ep_columns_cell {
	border-color: #888 #ccc;
}

.ep_search_buttons, .ep_search_controls, .ep_search_controls_bottom /* search.css */
,.ep_view_group_by /* view.css */
{
	border-color: #cccccc;
	background-image: url(images/bar_24px.png);
}



/* From: /opt/eprints3/lib/static/style/auto/columns.css */


/* paginated columns */

.ep_columns {
	margin: auto;
}

td.ep_columns_cell {
	border-style: none dashed solid none;
	border-width: 1px;
}
td.ep_columns_cell:first-child {
	border-left-style: dashed;
}

th.ep_columns_title, td.ep_columns_alter {
	border-width: 1px;
	font-weight: normal;
}
th.ep_columns_title {
	border-style: solid solid solid none;
}
td.ep_columns_alter {
	border-style: none solid solid none;
}
th.ep_columns_title:first-child, td.ep_columns_alter:first-child {
	border-left-style: solid;
}
th.ep_columns_title a {
	font-weight: normal;
}


td.ep_columns_no_items {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 0.5em;
	text-align: center;
	font-size: 120%;
}

.ep_columns_add {
	text-align: center;
}

.ep_columns_add select {
	max-width: 95%;
}

.ep_columns_title_inner, .ep_columns_alter_inner {
	display: table;
	border-width: 0; 
	width: 100%;
}

.ep_columns_title_inner > div, .ep_columns_alter_inner > div {
	display: table-row;
}

.ep_columns_title_inner > div > div, .ep_columns_alter_inner > div > div {
        display: table-cell;
}

.ep_columns_alter_inner > div > div:nth-child(1) {
	text-align: left;
	width: 14px;
}

.ep_columns_alter_inner > div > div:nth-child(2) {
        text-align: center;
	width: 100%;
}

.ep_columns_alter_inner > div > div:nth-child(3) {
        text-align: right;
	width: 14px;
}


.ep_columns_title_inner_sort {
	width: 22px; 
	text-align: right;
	vertical-align: middle;
}

.ep_columns_title_inner_sort img {
	border: 0px;
	padding: 4px;
}




/* From: /opt/eprints3/lib/static/style/auto/drop.css */


/* style for ajax suggestion drops */

.ep_drop_target {
}

.ep_drop_target ul {
	margin: 0px;
	padding: 4px;
	list-style: none;
	background-color: white;
	border: 1px dotted #888;
	z-index: 6;
}
	
.ep_drop_target ul li {
	margin: 0px;
	padding: 3px;
	list-style: none;
	border-top: 1px dashed #ccc;
	cursor: pointer;
	width: 100%;
}
.ep_drop_target ul li.ep_first {
	border-top: none;
}

.ep_drop_target ul li.selected {
	background-color: #e0e0ff;
}

.ep_drop_target ul ul {
	display: none;
}

.ep_drop_loading {
	margin: 0px;
	padding: 4px;
	height: 24px;
	text-align: center;
	border: 1px dotted #888;
	z-index: 6;
	position: absolute;
	background-color: #fff;
	background-image: url(images/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.ep_draggable {
	cursor: move;
}



/* From: /opt/eprints3/lib/static/style/auto/export.css */

/* EPrints 3 export style */

.ep_export_bar {
	display: flex; 
	justify-content: space-between;
}



/* From: /opt/eprints3/lib/static/style/auto/fields.css */


/* style for metafields */

dl.ep_field_set_long dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dl.ep_field_set_long dd {
	margin-bottom: 0.5em;
}

.ep_compound, .ep_compound_list > div {
	display: table; 
	border: 1px; 
	border-spacing: 0; 
	border-collapse: separate; 
	padding: 2px;
}

.ep_compound_header_row, .ep_compound_data_row, .ep_compound_list > div > div {
	display: table-row;
}

.ep_compound_header_cell, .ep_compound_data_row > div, .ep_compound_list > div > div > div {
	display: table-cell; 
	padding: 0.2em 0.5em;
}

.ep_compound_header_cell {
	font-weight: bold;
}

.ep_compound_single {
	display: table; 
	border: 1px;
}

#c6_editperms_1_type_label::after {
        content: "";
}

.ep_itemref_desc {
	padding: 0 0.5em;
}



/* From: /opt/eprints3/lib/static/style/auto/fileselector.css */

.ep_fileselector dl {
	margin: 0px 0px 0px 25px;
	padding: 0px 0px;
}
.ep_fileselector dd {
	margin: 0px 0px;
}
.ep_fileselector input {
/*	float: left; */
}
.ep_fileselector label {
	cursor: pointer;
}
.ep_fileselector dt.ep_fileselector {
	clear: left; /* clear the floated input */
	display: block;
	cursor: pointer;
	background-image: url(data:image/gif;base64,R0lGODlhEAAQAOMMAJuHDKKNBcCmCu3NEuzTOO/ZU/PhePTjgfTmj/XpmvXqovXtsP///////////////yH5BAEKAA8ALAAAAAAQABAAAARXUIA5xbsYA8SRAVkIHET5UagFGGVZvPALrkM9CEGuSw+A64bEYqEoDmbD5CJhaDYVSKdUCu0tptjETIGdanvcrvMLCIuDM+bZgJh13vADSIKqUyyhfCgCADs=);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	padding-bottom: 2px;
}
.ep_fileselector dt.ep_fileselector_open {
	background-image: url(data:image/gif;base64,R0lGODlhEAAQAOMMAIp5CJqGCrmhCdy+Be3OIe3UP+/YUvLeaPLgdPTlifTolvTro////////////////yH5BAEKAA8ALAAAAAAQABAAAARZUIQ5xbsYh8QTClm4FeRBnYEVIERbHEYsF+Da3rhbH3lPPwFeL7cbGAcBgHIpAQqWgEJisVBYkUCqdpE4eL2K2uJLJoez5XSipkiXz5uOXP55SFD4VGi/jwAAOw==);
}



/* From: /opt/eprints3/lib/static/style/auto/form.css */


/* Form related styles */

form {
	display: inline;
}

select, input.ep_form_text, textarea {
	padding: 1px 2px 1px 2px;
	margin-right: 4px;
	border: solid 1px #ccc;
}

.ep_form_example {
	font-weight: bold;
	color: blue;
}

/* buttons */

.ep_form_button_bar {
	text-align: center;
	padding: 4px;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ep_form_action_button, .ep_form_internal_button {
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
	padding: 2px 20px;
	cursor: pointer;
}
.ep_form_internal_button {
	padding: 1px 14px;
	background-position: 0px -2px;
}

/* form fields */

.ep_form_field_help {
        font-size: small ;
}

.ep_form_field_name {
        padding-top: 1em;
	font-weight: bold;
}

.ep_form_field_input {
        padding-bottom: 3pt;
}

/* input fields grid */


.ep_form_input_grid th {
	vertical-align: middle;
	text-align: center;
	font-size: 80%;
}
.ep_form_input_grid > div > div {
	vertical-align: middle;
}

.ep_form_input_grid_pos {
	padding-right: 4px;
}
.ep_form_input_grid_arrows {
	white-space: nowrap;
	padding-top: 2px;
	padding-bottom: 2px;
}


.ep_form_input_grid_wide {
	text-align: left;
}

.ep_field_legend {
	font-style: italic;
	display: none;
}
.ep_field_legend:after {
	content: ":";
}

.ep_multi_heading::after {
	content: ":";
}

.ep_search_fields > div > div, .ep_table_row > div {
	border-top: dashed #bbf 1px;
	vertical-align: top;
	padding: 0.5em;
}

.ep_table_row.ep_first > div {
	border-top: 0;
}

.ep_multi_heading, .ep_multi_heading_legend {
	border-right: dashed #bbf 1px;
	font-weight: bold;
	text-align: right;
}

.ep_multi {
	width: 100%;
	display: table;
}

.ep_login_form_table {
	margin:auto; 
	display: table;	
}

.ep_login_form_table > div {
	display: table-row;
}

.ep_login_form_table > div > div, .ep_login_form_table > div > label {
        display: table-cell;
}

.ep_form_input_grid {
	display: table; 
	border: 0; 
	padding: 0; 
	border-spacing: 0; 
	border-collapse: separate;
}

.ep_form_input_grid > div {
	display: table-row;
}

.ep_form_input_grid > div > div {
	display: table-cell; 
}

.ep_form_input_grid > div > div.heading {
	text-align: center;
	font-weight: bold; 
}

.ep_option_list {
	display: table; 
	border: 0;
}

.ep_option_list_row {
	display: table-row;
}

.ep_option_list_cell {
        display: table-cell;
}

.ep_option_list_option {
	margin-left: 2em;
}


.ep_field_set_medium,  .ep_boolean_list {
	display: inline-block;
	margin: 0;
}

.ep_field_set_medium > dd, .ep_boolean_list > dd {
	float: left;	
	margin: 0;
	padding-top: 0.2em;
	padding-bottom: 0.5em;
}

.ep_field_set_medium > dt, .ep_boolean_list > dt {
	float: left;
	clear: both;
}

.ep_over_word_limit {
	color: red;
	font-weight: bold;
}



/* From: /opt/eprints3/lib/static/style/auto/general.css */

body {
	margin: 0;
	font-family: Sans-serif;
	font-size: 80%;
}

/* left-align if we're in a div (e.g. ep_block) that centres */
ul {
	text-align: left;
}

img {
        border:0;
}

.ep_no_js { 
	display: none; 
}

.ep_no_js_inline { 
	display: none; 
}

.ep_no_js_table_cell { 
	display: none; 
}

.ep_hide { 
	display: none; 
}

h1, h2 {
	font-weight: bold;
}
h1 {
	margin: 0px;
	margin-top: 10px;
	font-size: 2.3em;
	text-align: center;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.2em;
}

hr {
	border: 0px;
	color: #ccc;
	background-color: #ccc;
	height: 2px;
}

dl.ep_normal > dt {
	font-weight: bold;
}

dl#ep-homepage-menu dt {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 1em 1em 0.5em 1em;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	clip-path: inset(-6px -2px 0 -2px);
}

dl#ep-homepage-menu dd {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 0.5em 1em 1em 1em;
	margin-left: 0;
	margin-bottom: 1em;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	clip-path: inset(0 -2px -6px -2px);
}
 

.ep_required {
	border: 0;
	display: inline;
}

.ep_toggle a, a.ep_toggle {
	text-decoration: none;
}

th.ep_row {
	padding-right: 0.25em;
	text-align: right;
	width: 20%;
	border-width: 1px;
}
td.ep_row {
	padding-left: 0.25em;
	text-align: left;
	border-width: 1px;
}

th.ep_title_row {
	border-width: 1px;
	border-style: solid;
	border-left: none;
	border-right: none;
	padding: 0.1em 0.5em 0.1em 0.5em;
	font-size: 100%;
	height: 2em;
	font-weight: normal;
}

.ep_title_row_inner {
        display: table;
        width: 100%;
}

.ep_title_row_inner > div {
	display: table-row;
}

.ep_title_row_inner > div > div {
	display: table-cell;
}

.ep_title_row_inner > div > div:first-child {
	text-align: left;
	margin-right: 1em;
}

.ep_title_row_inner > div > div:last-child {
        text-align: right;
        margin-left: 1em;
	font-size: 80%;
}

.ep_highlight {
	padding: 0.5em;
	border: solid 2px #ff8888;
	background-color: #ffeeee;
}

.ep_block {
	width: auto;
	margin: 0.25em auto 0.25em auto;
	text-align: center;
}
.ep_block td {
	text-align: left;
}
.ep_doc_icon
{
	padding: 2px;
}

.no_link_decor a {
	text-decoration: none;
}

.ep_table_row {
	display: table-row;
}

div.ep_table {
	display: table;
}

.ep_table > div, .ep_table_row {
	display: table-row;
}

.ep_table > div > div, .ep_table_row > div, .ep_table_cell {
	display: table-cell;
	padding: 0.3em;
}

.ep_no_border {
	border: 0;
}



/* From: /opt/eprints3/lib/static/style/auto/history.css */

/* EPrints 3 history style */

.ep_history_item {
	padding: 0.3em; 
	margin-top: 2em; 
	border: solid 1px black; 
	background-color: #ccc;
}

.ep_history_action {
	padding: 0.3em; 
	background-color: black; 
	color: white; 
	font-weight: bold;

}

.ep_history_details {
        padding: 0.3em;
	margin-bottom: 2em; 
	border: solid 1px black !important;
}

.ep_history_action a {
	color: yellow;
}

.ep_history_xmlblock {
	margin: 0 0 0 0; 
	padding: 3px 3px 3px 3px; 
	border-left: 1px 
	dashed black; 
	border-bottom: 1px dashed black; 
	font-size: 120%;
}

table.ep_history_diff_table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse; 
	padding: 0;
}

table.ep_history_diff_table th, table.ep_history_diff_table td {
	width: 50%;
	vertical-align: top;
	text-align: left;
}

.ep_history_diff_table_add {
	background-color: #cfc;
}

.ep_history_diff_table_remove {
        background-color: #fcc;
}

.ep_history_diff_table_change {
        background-color: #ffc;
}

#ep_workflow_views_panel_1 .ep_paginate_list .ep_search_result,
#ep_workflow_views_panel_1 .ep_paginate_list .ep_search_result > div {
        display: block;
}




/* From: /opt/eprints3/lib/static/style/auto/homepage.css */

ul.ep_block_menu {
	list-style-position: outside;
	list-style-type: none;
	padding: 0;
}

ul.ep_block_menu > li {
	border: 1px solid #ccc;
  	padding: 0.2em 1em;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	margin-bottom: 1em;
}



/* From: /opt/eprints3/lib/static/style/auto/icontable.css */


table.ep_icontable {
	border-collapse: collapse;
}
table.ep_icontable th {
	border: solid 1px #999;
	background-color: #fff;
	text-align: center;
}
table.ep_icontable td {
	padding-left: 4px;
	border: solid 1px #999;
}

.ep_icontable {
	border-collapse: collapse;
	display: table;
}

.ep_icontable > div {
	display: table-row;
}

.ep_icontable > div > div {
        display: table-cell;
        border: solid 1px #999;
	padding: 1px;
}

.ep_icontable > div > div:first-child {
	background-color: #fff;
        text-align: center;
}

.ep_icontable > div > div:last-child {
        padding-left: 4px;
}

.ep_icontable > div > div img {
	border-width: 0;
	vertical-align: middle
}




/* From: /opt/eprints3/lib/static/style/auto/import.css */

/* EPrints 3 import style */

.ep_import_bar {
	display: table; 
	width: 100%;
}

.ep_import_bar > div {
	display: table-row;
}

.ep_import_bar > div > div {
	text-align: center;
	display: table-cell;
}



/* From: /opt/eprints3/lib/static/style/auto/items.css */


/* Items Screen */

.ep_items_filters {
	text-align: center;
	margin-top: 10px;
}

.ep_items_filters img {
	border-width: 0px;
	margin-left: 10px;
	vertical-align: -2px;
}

.ep_items_filters a {
	color: #000000;
	text-decoration: none;
}


td.ep_columns_cell_inbox {
	background-color: #ffc;
}
td.ep_columns_cell_buffer {
	background-color: #dde;
}
td.ep_columns_cell_archive {
	background-color: #cfc;
}
td.ep_columns_cell_deletion {
	background-color: #ccc;
}



/* From: /opt/eprints3/lib/static/style/auto/latest.css */


/* latest and latest tool */

div.ep_latest_result {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

div.ep_latest_tool_result {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

div.ep_latest_tool_list {
	display: table;
	width: 100%;
}




/* From: /opt/eprints3/lib/static/style/auto/lightbox.css */

#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; }
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
/* #hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;} */
#hoverNav a{ outline: none;}

/* #prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(images/lightbox/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(images/lightbox/nextlabel.gif) right 15% no-repeat; } */

#hoverNav { height: 30px; }
#prevLink, #nextLink { width: 49%; height: 100%; display: block; }
#prevLink { left: 0; float: left; background: url(images/lightbox/prevlabel.gif) left 0 no-repeat; }
#nextLink { right: 0; float: right; background: url(images/lightbox/nextlabel.gif) right 0 no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }

#lightboxMovie {}

/* scale more nicely on narrow devices */
#lightbox #outerImageContainer,
#lightbox #imageDataContainer
{
  max-width: 95%;
  height: fit-content!important;
}
#lightbox #lightboxImage,
#lightbox #lightboxMovie,
#lightbox #lightboxMovie video
{
  max-width: 100%;
}



/* From: /opt/eprints3/lib/static/style/auto/mail.css */



.ep_mail_view {
	border: dashed 2px #ccc;
	margin-top: 20px;
	background-color: #eee;
	font-size: 1.2em;
}

.ep_mail_header {
	margin: 4px; 
	padding: 2px;
	font-family: monospace;
}

.ep_mail_body {
	margin: 4px;
	padding: 2px;
}

.ep_mail_body textarea {
	background-color: #ccc;
	border: solid #888 1px;
}



/* From: /opt/eprints3/lib/static/style/auto/messages.css */


/* Message styles - used to provide alerts and errors */

.ep_msg_message, .ep_msg_warning, .ep_msg_error, .ep_msg_other {
	margin-top: 10px;
	margin-bottom: 10px;
}

.ep_msg_message_icon, .ep_msg_warning_icon, .ep_msg_error_icon, .ep_msg_other_icon {
	padding: 1em; 
	display: table-cell; 
	vertical-align: middle;
}

.ep_msg_message_content, .ep_msg_error_content, .ep_msg_warning_content, .ep_msg_other_content {
	border-style: solid;
	border-width: 1px;
}

.ep_msg_message_text, .ep_msg_error_text, .ep_msg_warning_text, .ep_msg_other_text {
	padding: 1em; 
	display: table-cell; 
	vertical-align: middle; 
	text-align: left;
}

.ep_msg_message_text p:first-child, .ep_msg_error_text p:first-child, .ep_msg_warning_text p:first-child, .ep_msg_other_text p:first-child {
	margin-top: 0;
}

.ep_msg_message_text p:last-child, .ep_msg_error_text p:last-child, .ep_msg_warning_text p:last-child, .ep_msg_other_text p:last-child {
        margin-bottom: 0;
}



/* From: /opt/eprints3/lib/static/style/auto/multi.css */



/* 
   Styles for the multi-field component.

   ep_multi_*

*/

table.ep_multi
{
	width: 100%;
}

table.ep_multi tr:first-child th.ep_multi_heading,
table.ep_multi tr:first-child td.ep_multi_input,
table.ep_multi tr:first-child td.ep_multi_help 
{
	border-top: none;
}

th.ep_multi_heading
{
	border-top: dashed #bbf 1px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
	text-align: right;
}

td.ep_multi_input
{
	border-top: dashed #bbf 1px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-left: dashed #bbf 1px;
}

td.ep_multi_help
{
	white-space: nowrap;
	border-top: dashed #bbf 1px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	vertical-align: top;
	text-align: right;
}

/* help bits */

.ep_multi_inline_help 
{
	padding-bottom: 0.5em;
}
	



/* From: /opt/eprints3/lib/static/style/auto/nojs.css */


/*  only loaded if the browser has javascript turned off (or does
 *  not support it.
 */

.ep_no_js { display: block; }

.ep_no_js_inline { display: inline; }

.ep_no_js_table_cell { display: table-cell; }

.ep_only_js { display: none; }

.ep_only_js_inline { display: none; }

.ep_only_js_table_cell { display: none; }



/* From: /opt/eprints3/lib/static/style/auto/preview.css */


/* 
   Styles for the file preview popup.

   ep_preview_*

*/


.ep_preview
{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 400px;	
}

.ep_preview table
{
	border: solid 1px black;
	background-color: white;
	padding: 4px;
	margin: auto;
}

.ep_preview_title
{
	padding-top: 3px;
	text-align: center;
	background-color: white;
}



/* From: /opt/eprints3/lib/static/style/auto/print.css */

@media print {

.ep_noprint {
	display: none;
}

}



/* From: /opt/eprints3/lib/static/style/auto/progress.css */

div#progress {
	margin: 0px auto;
	width: 382px;
}

.progressmeter {
    font-size: 10pt;
    text-align: center;
}

.progressmeter table {
}

.progressmeter th {
    font-weight: bold;
    text-align: right;
}

.progressmeter td {
    text-align: left;
}

.finished {
    color: #667799;
}

.progressmeter .meter {
    position: relative;
    background-color: lightgrey;
    border: 2px solid #667799;
    height: 20px;
    width: 380px;
}

.progressmeter .meter .amount {
	margin: 0px auto 0px 0px;
    background-color: #667799;
    width: 0px;
    height: 20px
}

.progressmeter .meter .percent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    z-index: 1000;
    line-height: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.UploadMethod_file_progress_table {
	width: 550px;
	margin: 0 auto;
}



/* From: /opt/eprints3/lib/static/style/auto/savedsearches.css */



table.ep_savedsearches {
	margin: 10px auto 10px auto;
}

table.ep_savedsearches th {
	border-bottom: 1px solid #ccc;
}
table.ep_savedsearches td {
	border-bottom: 1px solid #ccc;
}



/* From: /opt/eprints3/lib/static/style/auto/search.css */


/* EPrints 3 search form style */



/* buttons are on the form, controls on the results */
.ep_search_buttons, .ep_search_controls, .ep_search_controls_bottom {
	border-style: solid none;
	border-width: 1px;
	text-align: center;
	padding: 4px 0px;
	margin: 4px 0px 12px 0px;
}

.ep_search_fields {
	margin-top: 1em;
	margin-bottom: 1em;
}
.ep_search_fields th {
	padding: 4px;
}
	
.ep_search_fields td {
	padding: 4px;
}
	

.ep_search_control
{
	padding: 0px 4px 0px 4px;
}

.ep_search_export {
	margin: 0.25em auto 0.25em auto;
	text-align: center;
}

.ep_search_export div[role="toolbar"] {
	margin: 1em;
}

.ep_search_reorder {
	margin: 0.4em auto 0 auto;
	text-align: center;
}

.ep_search_tool {
	white-space: nowrap;
}
.ep_search_tool img {
	vertical-align: -2px;
	padding-left: 0.5em;
}
.ep_search_tool a {
	text-decoration: none;
}


.ep_search_feed {
	white-space: nowrap;
}
.ep_search_feed img {
	vertical-align: -2px;
	padding-left: 0.5em;
}
.ep_search_feed a {
	text-decoration: none;
	color: #666;
}

.ep_search_results
{
	margin: 1em auto 1em auto;
}

.ep_search_desc
{
	text-align: center;
	margin: 0.25em 0 0 0;
}

.ep_search_result 
{
	display: table-row;
}

.ep_search_result > div
{
	padding: 4px 0.5em 4px 4px;
	border-bottom: dashed #bbf 1px;
	display: table-cell;
	vertical-align: middle;
}

.ep_search_result_docs
{
	white-space: nowrap;
	float: right;
	min-height: 48px;
}

.ep_paginate_list
{
	margin: auto;
	display: table;
	width: 100%;
}

.ep_search_field_name
{
	font-weight: bold;
	margin-top: 0.5em;
}

input.ep_form_search_advanced_link, input.ep_form_search_advanced_link:hover {
        border: none;
        text-decoration: underline;
        background: none;
        color: #00f;
        cursor: pointer;
}

span.search_desc {
	font-style: italic;
}



/* From: /opt/eprints3/lib/static/style/auto/storage.css */


/*
 *    Styles for storage manager.
 *
 *       ep_storage_*
 *      
 */

.ep_storage_heading {
	text-align: center;
	margin: 0;
}



/* From: /opt/eprints3/lib/static/style/auto/subjectinput.css */


/* 
   Styles for the subject component.

   ep_subjectinput_*

*/

div.ep_subjectinput_tree {
	margin-left: 25px;
}
.ep_subjectinput_tree dl {
	margin: 0px 0px 0px 15px;
	padding: 0px 0px;
}
.ep_subjectinput_tree dl dt {
	margin: 0px 0px;
	padding-left: 18px;
	line-height: 18px;
}
.ep_subjectinput_tree dl dd {
	margin-left: 0px;
}
.ep_subjectinput_tree dl dt.ep_subjectinput_tree {
	cursor: pointer;
	background: url(images/plus.png) no-repeat;
}
.ep_subjectinput_tree dl dt.ep_subjectinput_tree_open {
	background: url(images/minus.png) no-repeat;
}

.ep_subjectinput_toggle {
	text-decoration: none;
	color: #000000;
}

.ep_subjectinput_selections {
	margin: 0.5em auto 0.5em auto;
	margin-top: 0.5em; 
	padding: 0.5em; 
}

.ep_subjectinput_selected {
	font-weight: bold;
}

.ep_subjectinput_selected_subject {
	font-weight: bold;
}

ul.ep_subjectinput_subjects {
	list-style: none;
}
ul.ep_subjectinput_subjects li {
	margin-top: 3px;
	margin-bottom: 3px;
	list-style: none;
}
ul.ep_subjectinput_subjects img {
	vertical-align: -2px;
}


.ep_subjectinput_selections {
	padding-bottom: 10px;
	border-bottom: dashed #808080 1px; 
	margin-bottom: 10px;
}
.ep_subjectinput_selections td.ep_first {
	border-top: none;
}

.ep_subjectinput_selections td {
	border-top: dashed #ccc 1px; 
}

.ep_subjectinput_results {
	border: dashed #c8cbdf 1px; 
	margin-top: 0.5em; 
	padding: 0.5em; 
	background-color: white;
	list-style: none;
}

.ep_subjectinput_results td.ep_first {
	border-top: none;
}

.ep_subjectinput_results td {
	border-top: dashed #ccc 1px; 
}

.ep_subjectinput_add_button, .ep_subjectinput_remove_button {
	border: solid blue 1px;
	padding: 1px;
	background-color: transparent;
	font-size: 70%;
	color: blue;
}


.ep_subjectinput_searchbar {
	text-align: center;
}

/* End of subject component section */



/* From: /opt/eprints3/lib/static/style/auto/summary.css */


/* Item Summary */

.ep_summary_content {
}
.ep_summary_content_top {
}
.ep_summary_content_bottom {
}
.ep_summary_content_left {
	float: left;
}
.ep_summary_content_right {
	float: right;
}
.ep_summary_content_after {
	clear: both;
}


.ep_summary_content_left .ep_summary_box {
	width: 200px;
	margin-right: 10px;
}
.ep_summary_content_right .ep_summary_box {
	width: 200px;
	margin-left: 10px;
}


.ep_summary_box {
	margin-bottom: 10px
}
.ep_summary_box_title {
	font-weight: normal;
	padding: 2px 6px 2px 6px; 
	font-weight: bold;
	font-size: 115%;
	border-style: solid;
	border-width: 1px;
}
.ep_summary_box_body {
	padding: 2px 6px 2px 6px; 
	border-style: none solid solid solid;
	border-width: 1px;
}
.ep_summary_box_title a {
	text-decoration: none;
}
.ep_summary_box_title img
{
	vertical-align: -1px;
}

.ep_summary_page_actions dt {
	display: inline;
}
.ep_summary_page_actions dd {
	display: inline-block;
	margin-left: 1em;
}

.ep_summary_page_document {
	clear: both;
}
.ep_summary_page_document > span {
	float: left;
	margin-left: 0.5em;
}



/* From: /opt/eprints3/lib/static/style/auto/surround.css */


/* EPrints 3 default workflow component-surround style */

/* ep_sr */

.ep_sr_component {
	padding: 0px;
	margin-top: 10px;
}
.ep_sr_component .ep_sr_title_bar {
	padding: 2px 6px 2px 6px; 
}
.ep_sr_component .ep_sr_title_bar_inner {
	width: 100%;
	display: table;
        border-spacing: 0;
        border-collapse: collapse;
        padding: 0;
}
.ep_sr_component .ep_sr_title_bar_inner > div {
        display: table-row;
}
.ep_sr_component .ep_sr_title_bar_inner > div > div {
        display: table-cell;
}
.ep_sr_component .ep_sr_title_bar_inner > div > div:last-child {
        text-align: right;
}

.ep_sr_component .ep_sr_title_bar_inner {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        padding: 0;
}

.ep_sr_component .ep_sr_title {
	font-weight: bold;
	font-size: 115%;
	color: #444;
}
.ep_sr_component .ep_sr_content {
	clear: both;
	padding: 6px;
	border-style: none solid solid solid;
	border-width: 1px;
}

/* collapse bar */

.ep_sr_collapse_bar {
	padding: 2px 6px 2px 6px; 
	font-weight: bold;
	font-size: 115%;
	margin-top: 10px;
	border-style: solid;
	border-width: 1px;
}
.ep_sr_collapse_bar a {
	text-decoration: none;
}
.ep_sr_title a {
	text-decoration: none;
}
.ep_sr_collapse_link img
{
	vertical-align: -1px;
}

/* help style - not primetime */

.ep_sr_component .ep_sr_help {
	margin-bottom: 8px;
}
.ep_sr_component .ep_sr_show_help {
	white-space: nowrap;
}
.ep_sr_component .ep_sr_show_help a {
	text-decoration: none;
}	
.ep_sr_component .ep_sr_hide_help {
	white-space: nowrap;
}
.ep_sr_component .ep_sr_hide_help a {
	text-decoration: none;
}	
.ep_sr_component .ep_sr_title_bar {
	border-style: solid;
	border-width: 1px;
}
.ep_sr_show_help img {
	vertical-align: -2px;
}
.ep_sr_hide_help img {
	vertical-align: -2px;
}


/* used for multi, maybe should be elsewhere */
.ep_sr_component .ep_sr_help_chunk {
	border-bottom: 1px solid #888;
	padding-bottom: 4px; 
	margin-bottom: 4px;
}

.ep_sr_component .ep_form_input_grid {
	margin: auto;
}
.ep_multi_input .ep_form_input_grid {
	margin-left: 0px;
}



/* From: /opt/eprints3/lib/static/style/auto/tabs.css */


/* Tab Bar */

.ep_tab_panel, .ep_tab_bar li, .ep_tab_bar li a {
	border-width: 1px;
	border-style: solid;
}

/* selected tab */
.ep_tab_bar li.ep_tab_selected a {
	border-bottom-width: 0;
}

/* panel contents */
.ep_tab_panel {
}

/* tab text */
.ep_tab_bar a {
/*	color: #000000; */
}

/* remaining styles are structural */

.ep_tab_bar {
	list-style: none;
	padding: 0 0;
	margin: 0 0;
}

.ep_tab_bar li {
	float: left;
	padding: 0 0;
	margin: 0 0;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	list-style-type: none;
}

.ep_tab_bar li:first-child a {
	margin-left: 1.5em;
}

.ep_tab_bar li a {
	text-decoration: none;
	text-align: center;
	display: block;
	margin-right: 1.5em;
	padding: 3px 8px 4px 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-bottom: -1px; /* overwrite bottom-margin of li */
	border-bottom-width: 0;
}

.ep_tab_panel {
	border-top-width: 0;
	padding: 12px;
	clear: left;
}

.ep_tab_panel > div > table {
	width: 100%;
}



/* From: /opt/eprints3/lib/static/style/auto/template.css */


/* EPrints 3 template styles */
/* prefix all styles with ep_tm */

hr.ep_tm_last {
	color: #152d4e;
	background-color: #152d4e;
}


/* deprecated in 3.3 */
.ep_tm_logo img {
	float: right;
	padding: 4px;
	border-style: none;
}

.ep_tm_site_logo img {
	border-style: none;
	padding: 10px 10px;
}

.ep_tm_archivetitle, .ep_tm_archivetitle:visited {
	font-size: 40px;
	text-decoration: none;
	margin: 10px;
}

.ep_tm_main {
        margin: 1em;
}

/* Menu Bar */

.ep_tm_menu, .ep_tm_key_tools {
	clear: both;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.ep_tm_key_tools {
	display: block;
}

.ep_tm_menu {
	height: 30px;
	line-height: 30px;
}

.ep_tm_menu, .ep_tm_menu ul {
/*	background-color: #204f76; */
}

.ep_tm_menu li {
	float: left;
}
.ep_tm_menu ul {
}

.ep_tm_menu a, .ep_tm_menu a:visited {
	display: block;
	padding: 0px 20px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: bold;
}

.ep_tm_menu ul
{
	list-style: none;
	position: absolute;
	margin: 0;
	padding: 0;
}

.ep_tm_menu ul li {
	float: none;
}

.ep_tm_menu ul a
{
	text-align: left;
}

.ep_tm_key_tools li {
	list-style: none;
	display: inline;
	float: left;
	padding: 0;
	margin: 0;
}

.ep_tm_key_tools li a:hover {
}

.ep_tm_key_tools a {
/*	white-space: nowrap; */
}

/* end of menu bar */

/* Action Menu Bar */

.ep_tm_key_tools li {
	padding: 0px 6px;
}

.ep_tm_key_tools li:first-child {
	padding-left: 0px;
}

/* end of Action Menu Bar */

/* Search bar */

.ep_tm_searchbar {
	padding: 4px 10px;
}

.ep_tm_searchbar form {
	white-space: nowrap;
}

.ep_tm_searchbarbutton {
	text-align: center;
	padding: 1px 4px;
	margin: 0px;
	margin-left: 4px;
	font-size: 85%;
	background-position: 0px -2px;
	border-width: 1px;
	border-radius: 3px;
}

.ep_tm_searchbarbox {
	font-size: 80%;
	padding: 2px;
	border-width: 1px;
	border-style: solid;
}

/* end of search bar */

#ep_tm_languages {
	display: inline;
}
#ep_tm_languages a {
	margin-left: 4px;
}

.ep_tm_searchbar {
        border-width:0;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
}

.ep_tm_searchbar td {
        padding: 0;
        margin: 0;
}

.ep_tm_page_content {
        max-width:1024px;
        width:auto;
        margin-left: auto;
        margin-right: auto;
        margin-top:10px;
}

.ep_tm_eprints_logo {
        float: right;
        margin-left: 1em;
}

.ep_tm_footer {
	clear: both;
	margin-top: 20px;
	font-size: 90%;
	border-top-width: 2px;
	border-top-style: solid;
	padding: 10px 10px 0px 10px;
}
.ep_tm_footer hr {
	display: none;
}

@media only screen and (min-width:600px) and (max-width:1180px)
{
	.ep_tm_footer img { height: 15px; width: auto !important; }
}
@media only screen and (min-width:0px) and (max-width:600px)
{
    .ep_tm_footer img { display: none; }
}
@media only screen and (min-width:0px) and (max-width:570px)
{
	footer { height: 54px; }
}



/* From: /opt/eprints3/lib/static/style/auto/toolbox.css */


/* Toolbox styles - used to subdivide some content */

.ep_toolbox {
	margin-bottom: 10px;
}

.ep_toolbox_title {
	padding: 2px 10px 2px 10px;
}

.ep_toolbox_content {
	padding: 10px;
	border-width: 1px;
	border-style: solid;
}



/* From: /opt/eprints3/lib/static/style/auto/upload.css */


/* 
   Styles for the upload component.

   ep_upload_*

*/

.ep_upload_newdoc
{
	text-align: center;
/*	margin-top: 1em;
	margin-bottom: 1em; */
}

.ep_upload_fields {
	display: table;
}
.ep_upload_fields > div {
	display: table-row;
}
.ep_upload_fields > div > div {
        display: table-cell;
}


.ep_upload_fields th
{
	text-align: right;
}

/* Document section */

.ep_upload_doc
{
	margin-bottom: 0.5em;
	border-style: solid;
	border-width: 1px;
}

.ep_upload_doc .ep_upload_doc_title_bar {
	padding: 0px 6px 0px 6px; 
	border-bottom: solid 1px #d8dbef;
}
.ep_upload_doc .ep_upload_doc_title {
	color: #444;
}
.ep_upload_doc .ep_upload_doc_content {
	clear: both;
	padding: 6px;
}

.ep_update_doc_delete {
	white-space: nowrap;
}
.ep_update_doc_delete input {
	vertical-align: -2px;
}

.ep_update_doc_options {
	white-space: nowrap;
}
.ep_update_doc_options img {
	vertical-align: -2px;
	border: none;
}
.ep_update_doc_options a {
	text-decoration: none;
}

.ep_upload_doc_toolbar
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}

.ep_upload_files
{
/*	border: dashed #c8cbdf 1px; 
	text-align: center;
	margin-top: 0.5em; 
	padding: 0.5em; 
	background-color: white; */
}

.ep_upload_file_table 
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5em;
}
.ep_upload_add_file_toolbar
{
	margin-top: 0.5em;
}

.ep_upload_doc_expansion_bar
{
	text-align: right;
	padding: 2px .5em;
}
.ep_upload_doc_expansion_bar a
{
	cursor: pointer;
	text-decoration: none;
}

/* End of Document section */

/* Drag and drop */

.ep_dropbox {
	border-width: 2px;
	border-style: dashed;
	border-color: #4ea;
	background-color: #fff;
	font-weight: bold;
	font-size: 110%;
	padding: 40px 0px;
}

/* End of Drap and drop */


.ep_upload_file_label {
        margin-right: 0.3em;
	font-weight: bold;
}


.UploadMethod_file_progress_table {
	display: table;
}

.UploadMethod_file_progress_table > div {
	display: table-row;
}

.UploadMethod_file_progress_table > div > div {
        display: table-cell;
	padding: 0.5em;
}


.ep_upload_doc_title_bar_inner {
	display: table;
	width: 100%;
	border-width: 0;
}

.ep_upload_doc_title_bar_inner > div {
	display: table-row;
}

.ep_upload_doc_title_bar_inner > div > div {
        display: table-cell;
	vertical-align: middle;
}

.ep_upload_doc_title_bar_inner_left {
        text-align: left;
        width: 60%;
}


.ep_upload_doc_title_bar_inner > div > div:last-child {
	text-align: right;
	width: 20%;
}

.ep_upload_doc_icon_info {
	display: block;
	border-width: 0;
	padding: 0.4em;
}

.ep_upload_doc_icon_info > div {
	display: inline-block;
}

.ep_upload_doc_icon_info > div:first-child {
	text-align: center;
}

.ep_upload_doc_icon_info > div.ep_upload_doc_title {
	text-align: left;
	vertical-align: top;
	margin: 0.3em;
}

.ep_upload_doc_actions_inner {
	display: table;
	width: auto;
	margin-left: auto;
	margin-right: 0;
}

.ep_upload_doc_actions_inner > div {
	display: table-row;
}

.ep_upload_doc_actions_inner > div > div {
        display: table-cell;
	padding: 0.2em;
}

.ep_update_doc_options label {
	vertical-align: top;
}




/* From: /opt/eprints3/lib/static/style/auto/view.css */



/* spacing between page elements */
.ep_view_page h2 {
	margin-top: 30px;
}
.ep_view_blurb {
	margin-top: 20px;
}
.ep_view_timestamp {
	margin-top: 30px;
	text-align: right;
}

.ep_view_group_by_current {
	font-weight: bold;
}

.ep_view_group_by {
	border-style: solid none;
	border-width: 1px;
	text-align: center;
	padding: 4px 0px;
	margin: 4px 0px 12px 0px;
}

.ep_view_cols {
	width: 100%;
	margin-top: 1em;
	display: table;
	border: 0;
        padding: 0;
        border-spacing: 0;
        border-collapse: separate;
}

.ep_view_cols > div {
	display: table-row;
}

.ep_view_col {
	display: table-cell;
	vertical-align: top;
}
.ep_view_cols_2 .ep_view_col { width: 50%; }
.ep_view_cols_3 .ep_view_col { width: 33.3%; }
.ep_view_cols_4 .ep_view_col { width: 25%; }
.ep_view_cols_5 .ep_view_col { width: 20%; }
.ep_view_cols_6 .ep_view_col { width: 16.6%; }
.ep_view_cols_7 .ep_view_col { width: 14.28%; }
.ep_view_cols_8 .ep_view_col { width: 12.5%; }

.ep_view_cols ul {
	margin-top: 0px;
	margin-bottom: 0px;
}


	



/* From: /opt/eprints3/lib/static/style/auto/z_eprints_services_template.css */

/* override the default style with on a little cleaner */

  body
  {
    background-color: #eaeaea;
  }
  #wrapper
  {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    padding: 5px;
    max-width: 1280px;
    margin: 10px auto;
  }
  #main_content
  {
    min-height: 640px;
  }
  h1
  {
    padding-bottom: 5px;
  }
  h1, h2, h3, h4
  {
    color: #000000;
  }
  .ep_tm_menu,
  .ep_tm_menu li:hover
  {
    background-image: none;
    color: black;
  }
  .ep_tm_footer
  {
    height: 34px;
  }
  .ep_sr_content, .ep_summary_box_body, .ep_tab_panel, .ep_toolbox_content, .ep_upload_doc
  {
    background-image: none;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  }
  .ep_tm_searchbar, .ep_columns_title, td.ep_columns_alter
  {
    background-image: none;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  }
  .ep_search_buttons, .ep_search_controls, .ep_search_controls_bottom, .ep_view_group_by
  {
    background-image: none;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  }
  .ep_summary_box_title, .ep_sr_title_bar, .ep_sr_collapse_bar 
  {
    background-image: none;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  }
  .ep_blister_node
  {
    background-image: none;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  }
  .ep_form_action_button, .ep_form_internal_button, .ep_tm_searchbarbutton
  {
    background-image: none;
    margin-right: 8px;
    min-width: 145px;
    max-width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: normal;
  } 
  #ep_eprint_view_panels .ep_form_action_button 
  {
    min-width: 145px;
    max-width: 145px;
  }
  .ep_tm_searchbarbutton 
  { 
    min-width: inherit; 
  }

  .ep_blister_node_selected
  {
    background-image: none;
  }
  dl.ep_action_list dd
  {
    margin-bottom: 15px;
  }



/* From: /opt/eprints3/lib/static/style/auto/z_metafield.css */

table.ep_metafield_compound,
table.ep_metafield_compound th,
table.ep_metafield_compound td
{
  border: 0.5px solid lightgray;
  border-spacing: 0px;
}

table.ep_metafield_compound th,
table.ep_metafield_compound td
{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}



/* From: /opt/eprints3/archives/arcomt/cfg/static/style/auto/zzz_local.css */


/* 
 * This CSS file will be applied after all the built in styles.
 * 
 * CSS files are loaded in alphabetic order, hence the  "zzz" in 
 * the filename to force it to load after the other css files!
 * 
 * Add any local over-rides here. 
 * 
 * To totally replace a system css file, create a file of the same 
 * name in this directory. eg. messages.css
 * 
*/
.ep_tm_menu {
  display: flex;
  align-items: center;
}

.ep_tm_menu li {
  margin-right: 1em;
}

.ep_tm_menu li:last-child {
  margin-left: auto;
}
